*{
  color: black;
}

body{
  background-image: linear-gradient(to right, rgb(3, 19, 54), rgb(111, 101, 252));
  font-size: 120%;
  font-family: Arial;
}

button {
  font-size: 100%;
  font-family: Arial;
  border-radius: 21%;
}

button:hover{
  background-color: lightsteelblue;
  transform: translateY(-5px);
  border: 2px solid lightgray;
  transition: 0.3s;
}

#add-btn {
  background-color: green;
  color: aliceblue;
}

#sub-btn {
  background-color: red;
  color: aliceblue;
}

input {
  font-size: 100%;
  font-family: Arial;
}


table {
  width: 100%;
}

td, th {
  color: aliceblue;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: teal;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  color: aliceblue;
  font-size: 150%;
  text-decoration: underline;
}

#total {
  color: greenyellow;
  font-weight: bolder;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  color: aliceblue;
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

#myChart {
  background-color: aliceblue;
}
